@font-face {
    font-family: "JBMono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
}

@font-face {
    font-family: "BerlinDB";
    src: url(../fonts/BRLNSDB.woff2) format("woff2");
}

@font-face {
    font-family: "BerlinR";
    src: url(../fonts/BRLNSR.woff2) format("woff2");
}


html, body{
    background-color: white;
    background-image: url(../res/squaredbackground.png);
    font-family: 'BerlinDB';
    padding: 0px;
}

.nav{
    background-color: rgb(24,79,185);
    width: 100vw;
    height: 20vw;
    position: sticky;
    top: -1px;
    z-index: 10;
    align-items: flex-end;
}

.navcontent{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3%;
}

.icon{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: 8%;
    align-items: flex-end;
}

.icondesc{
    display: none;
    font-family: 'BerlinR';
}


.icon>a{
    max-width: 30%;
    margin: 2%;
    margin-bottom: 0px;
}

#titrepc{
    display: none;
}

#logo{
    max-width: 22%;
    margin-left: 8%;
}

.page{
    height: 100%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    z-index: -5;
}

.pagecontent{
    max-width: 1000px;
}

p{
    font-family: 'JBMono', monospace;
}

.ligne{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    align-items: flex-start;
}

#titreh1{
    background-color: rgb(24,79,185);
    width: 100%;
    margin-top: 0px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1{
    color: white;
    align-self: center;
    font-size: 3rem;
    text-align: center;
}

.titreh2{
    display: flex;
    margin-top: 15%;
    margin-left: 10%;
}

h2{
    font-size: 2.5rem;
    margin: 0px;
}

#profil>h2{
    color: rgb(215, 54, 46);
}

#project>h2{
    color: rgb(3,180,74);
    margin-top: 12px;
}

#contact>h2{
    color: rgb(246,218,47);
    margin-top: 12px;
}

.profilsmol{
    width: 35%;
    border: 2px solid black;
    box-shadow: -12px 12px rgb(215, 54, 46);
    background: rgb(255,250,238);
}

.profiltext{
    padding: 15px;
    margin: 0px;
}

.profillarge{
    background: rgb(255,250,238);
    width: 80%;
    border: 2px solid black;
    box-shadow: -12px 12px rgb(215, 54, 46);
}

.projectlarge{
    width: 80%;
    border: 2px solid black;
    box-shadow: -12px 12px rgb(3,180,74);
}

.projectsmol{
    width: 35%;
    border: 2px solid black;
    box-shadow: -12px 12px rgb(3,180,74);
}

.projectdesc{
    position: absolute;
    font-family: inherit;
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    display: none;
}

#cursedtale:hover .projectdesc{
    display: block;
    z-index: 6;
}

#cursedtale:hover img{
    filter: sepia(75%);
}

#overbot:hover .projectdesc{
    display: block;
    z-index: 6;
    color: black;
}

#overbot:hover img{
    filter: sepia(75%);
}

#dashheroes:hover .projectdesc{
    display: block;
    z-index: 6;
    color: black;
}

#dashheroes:hover img{
    filter: sepia(75%);
}

#mightyrpg:hover .projectdesc{
    display: block;
    z-index: 6;
}

#mightyrpg:hover img{
    filter: sepia(75%);
}

#dames:hover .projectdesc{
    display: block;
    z-index: 6;
}

#dames:hover img{
    filter: sepia(100%);
}

.contactlarge{
    width: 80%;
    border: 2px solid black;
    box-shadow: -12px 12px rgb(246,218,47);
    background-color: rgb(255,250,238);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.coord{
    text-align: center;
    margin: 0px;
}

footer{
    display: flex;
    justify-content: center;
    background: rgb(79,202,228);
}

footer>p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 1000px) {

    .nav{
        position: fixed;
        width: calc(50% - 200px);
        height: 100%;
        max-height: 100%;
        align-items: stretch;
        justify-content: flex-end;
        top: 0px;
    }

    .navcontent{
        width: 300px;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #logo{
        margin-left: 0px;
        max-width: 100%;
        margin-top: 40%;
        margin-bottom: 10%;
    }

    #titrepc{
        display: block;
        margin-bottom: 30%;
        font-size: 2.5rem;
    }

    .icon{
        margin: 0%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .icondesc{
        display: block;
        text-align: start;
        font-size: 1.7rem;
        margin: 0px;
        width: 70%;
        padding-left: 5%;
    }

    #iconprofil{
        color: rgb(215, 54, 46);
    }

    #iconproject{
        color: rgb(3,180,74);
    }

    #iconcontact{
        color: rgb(246,218,47);
    }

    .icon>a{
        max-width: 100%;
        margin: 5%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .icon>a>img{
        width: 30%;
    }

    p{
        font-size: 1.2rem;
    }

    .page{
        width: calc(50% + 200px);
        display: block;
        float: right;
    }

    .pagecontent{
        width: 700px;
        box-sizing: border-box;
        float: left;
    }

    #titreh1{
        display: none;
    }

    .profiltext{
        padding: 20px;
    }

    footer{
        width: calc(50% + 200px);
        display: block;
        float: right;
        padding-left: 70px;
    }

}